body {
	background-color: #01AAC1
	}
h1, h2, h3 {
	font-family: Impact;
	color: #000000;
	}
.fondo-cabecera {
	background-image: url(" ../img/cabecera-fondo.jpg");
	margin-top: 25px;
	border-bottom: solid 5px #000000;
	border-top: solid 5px #000000;
	width: 100%;
	}
.publicidad-movil {
	display: none;
	}
.publicidad-movil-noticia {
	display: none;
	}
.carousel{
	width: 600px;
	height: 330px;
	margin:auto;
	}
.jumbotron {
	background-color: #00649F;
	border-bottom:solid 5px black;
	}
.row {
	width: 1000px;
	}
.texto-noticia {
	text-align: justify;
	margin-left: 50px;
	margin-right: 50px;
	color: #000000;
	}
.margin-home {
	margin-top: 40px;
	}
.fecha-autor {
	color: #000000;
	text-align: center;
	}
.borde-noticia {
	 border-top:solid 5px black;
	}
main {
    max-width: 100%;
    margin: auto;
	}
.seemore{
  	position: relative;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	margin-top: 4%;
  	text-align: center;
	}
aside.publicidad{
  	float: right;
  	width: 336px;
  	height: 100%;
	margin: 10px;
	}
aside.publicidad-noticia{
  	float: right;
  	width: 336px;
  	height: 100%;
	margin: 10px;
	}
videogrande {
	width: 480px;
  	height: 360px;
	}
.margin-json {
	margin-top: -100px;
	}
.btn-success{
	border: solid 2px black !important;
	margin-left: 35px !important;
	margin-right: 35px !important;
	}
.noticias{
  	width: 100%;
  	margin-left: -300px;
  	float: right;
  	padding: 0 10px;
	}
.imagenew1{
	width: 100%;
 	height: auto;
	}
.imagenew2{
 	width: 100%;
  	height: auto;
	}
.imgpubli{
  	width: 100%;
  	height: auto;
	}
.img-thumbnail {
	margin: auto !important;
	}
.footer{
  	padding:50px 0 50px;
  	margin-top:100px;
  	text-align:center;
 	background-color:#000000;
	color: #FFFFFF;
	}
.footer-links{
  	padding-left:0;
  	margin-bottom:20px;
	}
.footer-links li+li{
  	margin-left:15px;
	}
.footer-links li{
  display: inline-block;
	}
